body{
    margin: 0;
    background-color: rgb(48, 51, 61);
    font-family: "Arial", sans-serif;
}

.episode{
margin-bottom: 5px;
padding: 10px;
border-radius: 10px;
background-color: rgb(67, 94, 182);
color: rgb(228, 197, 25);
}

.characters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.character{
    width: 300px;
    height: 140px;
    border: 1px solid rgb(11, 13, 172);
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    color:rgb(11, 13, 172)
}
.character h3{
    margin-top: 5px;
}
.character-alive{
    background-color: rgb(130, 255, 151);
}
.character-dead{
    background-color: rgb(255, 108, 145);
}
.character-unknown{
    background-color: rgb(252, 238, 208);
}
.character-left{
    flex: 2;
    min-width: 120px;
}
.character-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character-right{
    flex: 3;
    padding: 10px;
    overflow: hidden;
}